:root {
    --dark-green: #1e4620;
    --light-green: #357a38;
    --ivory: #fffef2;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--ivory);
}

